
<ion-toolbar>
  <ion-buttons>
      <ion-button (click)="shareOnFacebook()" >
        <ion-thumbnail slot="start">
          <img src="..\assets\img\facebook.png">
          </ion-thumbnail>
      </ion-button>
      <ion-button (click)="shareOnTwitter()" >
        <ion-thumbnail slot="start">
          <img src="..\assets\img\twitter.png">
          </ion-thumbnail>
      </ion-button>
      <ion-button  (click)="shareOnWhatsapp()">
        <ion-thumbnail slot="start">
          <img src="..\assets\img\whatsapp.png">
          </ion-thumbnail>
      </ion-button>

  </ion-buttons>
</ion-toolbar>
