<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="share-button">
    <ion-button  (click)="showSocialMediaOptions($event)">
      <ion-icon slot="icon-only" name="share-social"></ion-icon>
      Share
    </ion-button>
  </div>
</ion-content>